/*
 * Copyright 2015-2016 Mark Wane
 *
 * This file is part of Rail rovers and rangers comparison tool.
 *
 * Rail rovers and rangers comparison tool is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Rail rovers and rangers comparison tool is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Rail rovers and rangers comparison tool.  If not, see <http://www.gnu.org/licenses/>.
 */

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.centre {
	width: 75%;
	margin: 0 auto;
}

#instructions {
	display: none;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: SandyBrown;
	min-width: 690px;
}

table {
	border-collapse: collapse;
	background-color: silver
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
}

th {
	background-color: snow;
}

#form {
	margin-bottom: 10px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
}

.journeys th {
	color: red;
}

.fares th {
	color: blue;
}

label {
	display: block;
	float: left;
	text-align: right;
	width: 20%;
	margin-top: 5px;
	margin-right: 2%;
}

input[type="text"] {
	width: 75%;
	margin-top: 5px;
}

input[type="radio"] {
	float: left;
	clear: none;
	text-align: right;
}

.rb {
	margin-top: 5px;
	margin-bottom: 10px;
}

.low-price {
	background-color: lightgreen;
}

.mid-price {
	background-color: yellow;
}

.high-price {
	background-color: red;
}
